.Contacts {
   margin: 10% 0 0 0;
}
.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ContactsItemDiv {
    margin: 5px;
    box-shadow: 2px 2px 8px #ccc;
    border: 1px solid #ccc;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ContactsItemDiv h3 {
    margin: 0 30px 0 0;
}
.showContacts {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 0;
}